h3{
    font-size: 26px  !important;
    width: 50%;
}
body{
    background-color: lavender;
}
canvas{
animation-name: HI;
animation-duration: 4s;
animation-iteration-count: infinite;
}
.btn-primary:hover{
    background-color:paleturquoise;
}

@keyframes HI{
    from{box-shadow:1px 1px 30px rgba(255, 0, 0, 0.924);}
    to{box-shadow: 1px 1px 50px rgb(255, 234, 43);}
}